@import '../../../styles/mixins/_bem.sass'
@import '../../../styles/partials/_vars.sass'

.Forecast
	display: block
	width: 100%
	position: relative
	z-index: 2
	text-align: center
	padding: 20px 0 0 0

	p
		font-size: $biggerFont

	+e(List__Container)
		margin: 20px 0 0 0
		background-color: rgba(0,0,0,0.2)
		padding: 12px 0
	
	+e(List)
		width: 80%
		margin: 0 0 0 10%

		li
			width: 20%
			float: left
			display: inline-block
			padding: 0 6px
			border-right: 1px solid rgba(255,255,255, 0.5)
			font-weight: 300

			span
				font-weight: 700
				margin-bottom: 6px
				display: inline-block
				width: 100%

		li:last-of-type
			padding-right: 0
			border: none