@import '../../../styles/mixins/_bem.sass'
@import '../../../styles/mixins/_mediaquery.scss'
@import '../../..//styles/partials/_vars.sass'

.Location
	color: white
	display: block
	text-shadow: $textShadow
	-webkit-transition: $transition
	-moz-transition: $transition
	-o-transition: $transition
	transition: $transition
	float: left
	padding-left: 5px
	padding-right: 5px
	overflow: hidden
	position: relative

	@include respond-to(mob) 
		margin-bottom: 12px
		padding: 0

	header, content, footer
		position: relative
		z-index: 2
		width: 100%
		text-align: center	
		display: block

	&.is-small
		width: 15%

		@include respond-to(mob) 
			width: 100%

		@include respond-to(med) 
			h1
				font-size: 18px

			h2
				font-size: 60px

	&.is-medium
		width: 20%

		@include respond-to(mob) 
			width: 100%

	&.is-large
		width: 40%

		@include respond-to(mob) 
			width: 100%

	&.is-medium .Location__inner
		background-position: 100% 50%

	&.is-large .Location__inner
		background-position: 100% 50%

	&.is-small .Location__inner
		background-position: 100% 50%

	+e(inner) 
		position: relative
		box-shadow: $lightTextShadow
		height: 400px
		border-radius: $defaultBorderRadius

		@include respond-to(mob) 
			border-radius: 0

		&:before
			border-radius: $defaultBorderRadius
			z-index: 1
			position: absolute
			display: block
			content: ''
			width: 100%
			height: 100%		

	+e(Heading)
		padding: 20px 0 0 0

	+e(Menu)
		text-shadow: $darkTextShadow
		z-index: 3
		cursor: pointer
		color: white
		font-size: 22px
		position: absolute
		top: 10px
		left: 10px

	+e(Content)
		h2
			font-size: $epicFont
			padding-left: 20px

			span
				position: relative
				top: -30px
				font-size: 42px

	+e(Footer)
		font-size: 16px
		text-align: left

		ul li
			min-height: 42px
			line-height: 42px

		span.icon
			margin-right: 12px
			font-size: 22px

.img-madrid
	background-image: url('../assets/img/madrid.jpg')

	&:before
		background-color: $purpleBackground

.img-london
	background-image: url('../assets/img/london.jpg')
	
	&:before
		background-color: $orangeBackground

.img-amsterdam
	background-image: url('../assets/img/amsterdam.jpg')
		
.img-paris
	background-image: url('../assets/img/paris.jpg')

.img-monaco
	background-image: url('../assets/img/monaco.jpg')

	&:before
		background-color: $greenBackground

@media (min-width: 480px) and (max-width: 768px)
	.Location__inner 
		h1
			font-size: 18px

		h2
			font-size: 60px


	
		