@import '../../..//styles/partials/_vars.sass'

.Footer
	border-top: 1px solid $gray
	padding: 0 22px
	text-align: right

	p
		color: $fontGrey
		font-size: $defaultFont
		margin: 0
		line-height: 60px