@import "../styles/external/bootstrap/bootstrap.min.css"
@import '../styles/partials/_vars.sass'

@import '../styles/main.sass'

html, body, main
	height: 100%

body
	font-size: $defaultFont
	font-family: 'Titillium Web', sans-serif
	background-color: $bgColor
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	padding: 60px 0 0 0

.locations-container
	display: block
	width: 100%
	height: 100%
	margin-bottom: -61px


