$breakSmall: 480px;
$breakLarge: 1199px;

@mixin respond-to($media) {
	@if $media == mob {
		@media only screen and (max-width: $breakSmall) {
			@content;
		}
	}

	@else if $media == med {
		@media only screen and (min-width: $breakSmall + 1) and (max-width: $breakLarge - 1) {
			@content;
		}
	}

	@else if $media == wide {
		@media only screen and (min-width: $breakLarge) {
			@content;
		}
	}
}