@import '../../../styles/mixins/_bem.sass'

.Loader
	margin-top: 60px

	+m(small)
		.sk-cube-grid 
			width: 60px
			height: 30px

.sk-cube-grid 
	width: 80px
	height: 40px
	margin: 20px auto

.sk-cube-grid .sk-cube 
	margin: 0 1%
	width: 18%
	height: 100%
	background-color: white
	float: left
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out 
	transform: scale3D(0,0,0.1)

.sk-cube-grid .sk-cube1 
	-webkit-animation-delay: 0.1s
	animation-delay: 0.1s 

.sk-cube-grid .sk-cube2 
	-webkit-animation-delay: 0.2s
	animation-delay: 0.2s 

.sk-cube-grid .sk-cube3 
	-webkit-animation-delay: 0.3s
	animation-delay: 0.4s 

.sk-cube-grid .sk-cube4 
	-webkit-animation-delay: 0.4s
	animation-delay: 0.4s 

.sk-cube-grid .sk-cube5
	-webkit-animation-delay: 0.5s
	animation-delay: 0.5s

@-webkit-keyframes sk-cubeGridScaleDelay 
	0%, 75%
		-webkit-transform: scale3D(0,0,1)
		transform: scale3D(0,0,0,1)
	25%, 100%
		-webkit-transform: scale3D(1,1,1)
		transform: scale3D(1,1,1,1)

@keyframes sk-cubeGridScaleDelay 
	0%, 75%
		-webkit-transform: scale3D(0,0,1)
		transform: scale3D(0,0,0,1)
	25%, 100%
		-webkit-transform: scale3D(1,1,1)
		transform: scale3D(1,1,1,1)
