@import '../../../styles/mixins/_bem.sass'
@import '../../../styles/mixins/_mediaquery.scss'

.Locations
	margin: 0 0 -60px 0
	overflow: hidden
	padding-bottom: 20px

	@include respond-to(mob) 
		margin: 0
		padding: 0

	+e(loader)
		margin: 0 auto