@import 'mixins/_bem.sass' // bem mixin
@import 'partials/_lists.sass'	// default list styling
@import 'partials/_vars.sass' // variables
@import 'external/icomoon/style.scss' // icomoon font

// override bootstrap tablet container width setting
@media (max-width: 1200px)
	.container 
		width: 100%

h1
	font-size: $largeFont
	font-weight: 300

h2
	font-size: $mediumFont
	font-weight: 100

h3, h4, h5, h6
	font-size: $mediumFont
	font-weight: 300

// styling selection for mozilla
::-moz-selection 
		background: $selection
		color: white
		text-shadow: white

// styling selection for other browsers
::selection 
		background: $selection
		color: white
		text-shadow: none
